<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brandhype.medixfora"
    android:installLocation="preferExternal">

    <uses-sdk android:minSdkVersion="19" />
    <!-- Jellybean-16, Kitkat- 19, Lolipop-21, Marshmallow-23, Nougat-24 -->

    <permission
        android:name="com.brandhype.medixfora.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.codopoliz.medixfora.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.brandhype.medixfora.application.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme">
        <activity
            android:name="com.brandhype.medixfora.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name="com.brandhype.medixfora.MainActivityDoctor"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.brandhype.medixfora.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brandhype.medixfora.BannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brandhype.medixfora.SignupActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.brandhype.medixfora.OTPActivity" />
        <activity
            android:name="com.brandhype.medixfora.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.brandhype.medixfora.FeatureActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f23237fb769926bc0d21f4e214f87beb7493897e" />

        <!--             Defining FCM Services -->
        <!-- [START firebase_service] -->
        <service android:name="com.brandhype.medixfora.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->


        <!-- [START firebase_iid_service] -->
        <service android:name="com.brandhype.medixfora.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->


        <!-- <service android:enabled="true" android:name=".service.NotificationIntentService" /> -->

        <activity
            android:name="com.brandhype.medixfora.BannerActivityNew"
            android:label="@string/title_activity_banner_new"
            android:theme="@style/FullscreenTheme"></activity>

        <activity
            android:name="com.brandhype.medixfora.ChatActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>